body {
  margin: 0;
  font-family: 'Bad Script';
  background: linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5);
} 
#todo {
  height: 100vh;
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 8px black;
}

h1 {
  margin: 0;
  padding: 10px 28px;
  text-transform: uppercase;
  font-weight: normal;
  background-color: #86a8e7;
  color: white;
}

input {
  width: 100%;
  height: 50px;
  padding-left: 25px;
  border-width: 3px 0;
  border-color: gray;
  border-style: solid;
  font-size: 20px;
  /*box-sizing: border-box;*/
  color: gray;
  font-family: inherit;
}

/*input::placeholder {
  color: blue;
}*/

input:focus {
  background-color: #edf1f5;
  border-color: #86a8e7;
  outline: none;
  color: #86a8e7;
}

.todos {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 70%;
  overflow: auto;
}

.todos li {
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  font-size: 20px;
  background-color: #f7f7f7;
  user-select: none;
}

.todos li:nth-child(2n) {
  background: #edf1f5;
}

.checked {
  text-decoration: line-through;
  color: gray;
}

.todos img {
  width: 0;
  height: 26px;
  margin-left: 5px;
  margin-right: 10px;
  vertical-align: sub;
  opacity: 0;
  transition: 0.3s;
}

.todos li:hover img {
  width: 24px;
  opacity: 1;
}